<div class="chat-page">
	<ul class="find-lists" id="faxian">
		<li class="hangjian"></li>
		<a class="ff" href="#/faxian/{{$index}}">
			<li class="chat-item">
				<div class="pic"><img src="./image/朋友圈.png" alt=""></div>
				<div class="xuanze">朋友圈</div>
				<div class="xiaoxi"><img src="./image/header/a.jpg" alt=""></div>
			</li>
	    </a>
		<li class="hangjian"></li>
		<li class="chat-item">
			<div class="pic"><img src="./image/扫一扫.png" alt=""></div>
			<div class="xuanze">扫一扫</div>
		</li>
		<li class="chat-item">
			<div class="pic"><img src="./image/摇一摇.png" alt=""></div>
			<div class="xuanze">摇一摇</div>
		</li>
		<li class="hangjian"></li>
		<li class="chat-item">
			<div class="pic"><img src="./image/附近的人.png" alt=""></div>
			<div class="xuanze">附近的人</div>
		</li>
		<li class="hangjian"></li>
		<li class="chat-item">
			<div class="pic"><img src="./image/购物.png" alt=""></div>
			<div class="xuanze">购物</div>
		</li>
		<li class="chat-item">
			<div class="pic"><img src="./image/游戏.png" alt=""></div>
			<div class="xuanze">游戏</div>
		</li>
	</ul>
</div>