<div class="frendcircle" >                  
            <header class="header">
              <div class="frendsL">
                <span class="iconfont icon-jiantou"></span>
                <span>朋友圈</span>
              </div>
              <div class="frendsR">
                <span class="iconfont icon-xiangji"></span>
              </div>
            </header>

            <div class="blocks frends">
              <div class="photo">
                <div class="wall"></div>
                <div class="geren">
                  <div class="name">Kris</div>
                  <div class="pic"></div>
                </div>
              </div>
              <ul>
                <li class="dongtai">
                  <div class="pic left"></div>
                  <div class="detail right">
                    <div class="beizhu">Mike</div>
                    <div class="message">哈哈哈哈，开心！！</div>
                    <div class="caozuo">
                      <div class="shijian">21分钟前</div>
                      <div class="iconfont icon-pinglun"></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>