<div class="chat-page">
	<ul class="me-lists" id="me">
		<li class="hangjian"></li>
		<li class="hoster">
			<div class="pic"><img src="image/header/c.jpg" alt=""></div>
			<div class="xuanze">面朝南的落地窗</div>
			<div class="erweima">
				<img src="image/erweima.png">
			</div>
		</li>
		<li class="hangjian"></li>
		<li class="chat-item">
			<div class="pic"><img src="image/相册.png" alt=""></div>
			<div class="xuanze">相册</div>
		</li>
		<li class="chat-item">
			<div class="pic"><img src="image/收藏.png" alt=""></div>
			<div class="xuanze">收藏</div>
		</li>
		<li class="hangjian"></li>
		<li class="chat-item">
			<div class="pic"><img src="image/钱包.png" alt=""></div>
			<div class="xuanze">钱包</div>
		</li>
		<li class="hangjian"></li>
		<li class="chat-item">
			<div class="pic"><img src="image/表情.png" alt=""></div>
			<div class="xuanze">表情</div>
		</li>
		<li class="hangjian"></li>
		<li class="chat-item">
			<div class="pic"><img src="image/设置.png" alt=""></div>
			<div class="xuanze">设置</div>
		</li>
	</ul> 
</div>