<footer class="footer" id="footer">
        <div class="footer-wrap">
          <ul class="footer-lists" >
            <li class="footer-item" ng-class="{active:title=='微信'}">
              <span class="iconfont icon-liaotian3"></span>
              <a href="#/weixin"  ng-click="title='微信'">微信</a>
            </li>
            <li class="footer-item" ng-class="{active:title=='通讯录'}">
              <span class="iconfont icon-tongxunlu"></span>
              <a href="#/lianxiren"  ng-click="title='通讯录'">通讯录</a>
            </li>
            <li class="footer-item" ng-class="{active:title=='发现'}">
              <span class="iconfont icon-faxian"></span>
              <a href="#/faxian"  ng-click="title='发现'">发现</a>
            </li>
            <li class="footer-item" ng-class="{active:title=='我'}">
              <span class="iconfont icon-gerenzhongxin"></span>
              <a href="#/me"  ng-click="title='我'">我</a>
            </li>
          </ul>
        </div>
      </footer>